[submodule "atlas-projects/abandoned-airfields"]
	path = atlas-projects/abandoned-airfields
	url = https://github.com/Alexander-Aghili/AbandondedAirfieldAtlas.git
[submodule "atlas-projects/air-crashes"]
	path = atlas-projects/air-crashes
	url = https://github.com/Alexander-Aghili/Air-Crash-Atlas.git
